
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.contaner-nav{
    width: 100%;
    height: 100px;
    border: 1px solid;
    position: relative;
    /*z-index: 10;*/
    background:#000;
}

#menuFrame{
    padding: 13px 0;
}

.container-menu{
    
    width: 95%;
    margin: 0 auto;
    height: 74px;
    position: relative;
    max-width: 1170px;    
    display: flex;
    justify-content: space-between;
}

.container.responsive{
    display: none;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    /*
    float: right;
    align-items: center;*/
}

.container-brand{
    background-image: url(assets/descarga.jfif);
    width: 10%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-responsive{
    width: 45%;
}
.container-allmenu{
    
    width: 45%;
    height: 100%;
    /*display: flex;*/
    color:#fff;
    font-size: small;

}

.menu{
    height: inherit;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items:center;
}

.menu a span:first-child, .text-on-image a span:first-child{
    display: inline-block;
    padding: 10px;
    color: #fff;
}



.container-background-image{
    width: 100vw;
    height: 260px;
    border: 1px solid;
    position: relative;
    display: inline-block;
    text-align: center;
}

.background-image{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    float: right;
    background-image: url(assets/hero-batch-3-auto-shows.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
}
.text-on-image{
    position: absolute;
    top: 10px;
    left: 10px;
    top: 50%;
    color: #fff;
    left: 44%;
    font-size: 24px;
}


@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }

  .text-on-image:hover {
    animation: bounce 1s;
  }